.allFiltersBtn {
    background-color: rgb(31, 31, 31);
    color: rgb(214, 214, 214);
}

.black {
    background-color: black;
    color:aliceblue;
}

.conteinerClass {
    display: inline-block;
    overflow: hidden;
    overflow-y: hidden;
    margin-left: 2px;
    width: 600px;
}

.conteinerClass button {
    height: 32px;
    margin-left: 6px;
    margin-right: 6px;
    border: 0px;
    border-radius: 8px;
    font-size: 14px;
    padding-left: 12px;
    padding-right: 12px;
}

.filtersClass {
    display: inline-block;
    position: relative;
    margin-left: calc( (100% - 700px)*0.5);
    margin-top: 10px;
    margin-right: 10px;
    padding: 5px;
    width: max-content;
}

.filterBtn{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.leftBtn {
    position: relative;
    margin-left: 10px;
    margin-right: 1px;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 0;
    border: 0px;
    background-image: url(back.png);
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: center;
    cursor: pointer;
    box-shadow: 15px 0px 10px 10px  rgba(255, 255, 255, 0.945);
}

.leftBtn:hover {
    background-image: linear-gradient(#cccccc3b, #cccccc3b), url(back.png);
}

.promptLeft {
    position: absolute;
    top: 70px;
    left: 10px;
    z-index: 1;
    width: max-content;
    padding: 10px 5px 10px 5px;
    border: 0px;
    border-radius: 5px;
    background-color: rgb(112, 112, 112);
    color: rgb(241, 241, 241);
    opacity: 0.95;
}

.promptRight {
    position: absolute;
    top: 70px;
    right: 10px;
    z-index: 1;
    width: max-content;
    padding: 10px 5px 10px 5px;
    border: 0px;
    border-radius: 5px;
    background-color: rgb(112, 112, 112);
    color: rgb(241, 241, 241);
    opacity: 0.95;
}

.rightBtn {
    margin-left: 0px;
    margin-right: 10px;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0px;
    padding: 0;
    background-image: url(forward.png);
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: center;
    cursor: pointer;
    box-shadow: -15px 0px 10px 10px  rgba(255, 255, 255, 0.945);
}

.rightBtn:hover {
    background-image: linear-gradient(#cccccc3b, #cccccc3b), url(forward.png);
}

.wrap button:hover {
    background-image: linear-gradient(#cccccc3b, #cccccc3b);
}

.wrapClass {
    width: max-content;
    margin: 5px;
    transition: margin-left 0.3s;
}

