.settingsMenuContainer {
    position: absolute;
    top: 100px;
    left: 200px;
    width: max-content;
}

.offIcon {
    background-image: url(settingsBtnOff.png);
}

.onIcon {
    background-image: url(settingsBtnOn.png);
}
