
.track {
    background-color: rgb(241, 207, 207);
    height: 36px;
}

.red {
    background-color: red;
    height: 20px;

}

.popup {
    width: max-content;
    height: max-content;
    background-color: aqua;
    position: absolute;
    top: -30px;
}

.hide {
    display: none;
}

.visible {
    display:block;
}


