
.track {
    background-color: rgb(167, 167, 167);
    height: 5px;
    margin-bottom: 5px;
}

.red {
    background-color: red;
    height: 3px;
}

.popup {
    width: max-content;
    height: max-content;
    background-color: aqua;
    position: absolute;
    top: -30px;
}

.hide {
    display: none;
}

.visible {
    display:block;
}


