.inMain {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90vw;
    border: 0px solid rgb(11, 102, 238);
    position: relative;
    left: 80px;
    top: -350px;
}

.inMainFiltred {
    width: max-content;
    border: 0px solid rgb(37, 238, 11);
    position: relative;
    left: 100px;
    top: -350px;
}

 .inRightSide {
    display: inline-block;
    width: 380px;
    border: 0px solid rgb(238, 11, 11);
    margin-left: 20px;

}

.underBigScreenVideo {
    position:absolute;
    top: 600px;
    left: 830px;
    width: 380px;
}

.underFullScreenVideo {
    position:absolute;
    top: 100vh;
    left: 70vw;
    width: 380px;
}