.inMain {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90vw;
    border: 0px solid rgb(11, 102, 238);
    position: relative;
    left: 80px;
    top: -350px;
}

.inMainFiltred {
    width: max-content;
    border: 0px solid rgb(37, 238, 11);
    position: relative;
    left: 100px;
    top: -350px;
}

.listInSmallScreenVideo {
    position: relative;
    display: inline-block;
    width: 380px;
    border: 0px solid rgb(53, 11, 238);
    margin-left: 20px;
    margin-top: 20px;
}

.listInBigScreenVideo {
    position: relative;
    display: inline-block;
    width: 380px;
    border: 0px solid rgb(8, 145, 81);
}

.listInFullScreenVideo {
    position: relative;
    display: inline-block;
    width: 380px;
    border: 0px solid rgb(8, 145, 81);
}