.verticalCard {
  width: 30vw;
  min-width: 280px;
  border: 1px solid rgb(7, 224, 17);
}

.horizontalCard {
  width: 30vw;
  min-width: 320px;
  border: 1px solid rgb(7, 224, 17);
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 3px;
}
