.miniPlayer {
    width: 35px;
    height: 30px;
    border: 1px dashed rgb(255, 0, 0);
    border-radius: 1px;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(73, 72, 72);
    cursor: pointer;
    position: relative;
    background-image: url(miniPlayer.png);
}

.miniPlayer:hover {
    background-image: linear-gradient(#cccccc3b, #cccccc3b), url(miniPlayer.png);
}



