
.iconField {
    width: 35px;
    height: 30px;
    border: 1px solid rgba(228, 228, 228, 0.144);
    border-radius: 1px;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(7, 7, 7);
    cursor:pointer;
    position: relative;
}

.nameField {
    border: 0px solid rgb(219, 46, 46);
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
}


.settingsMenu {
    padding: 5px;
    border: 0px solid rgb(26, 231, 43);
    border-radius: 10px;
    min-width: 300px;
    position: relative;
    bottom: 240px;
    right: -250px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.712);
}

.settingRow {
    color:rgb(226, 226, 226);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    border: 0px solid rgb(168, 20, 124);
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
}

.valueField {
    color:rgb(226, 226, 226);
    margin-left: auto;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;

}

.dontWork{
    border: 1px dashed rgba(255, 0, 0, 0.507);
    margin-bottom: 3px;
    cursor: auto;
}


/* Иконки */
.btnOffIcon {
    background-image: url(settingsBtnOff.png);
}
.btnOffIcon:hover {
    background-image: linear-gradient(#cccccc3b, #cccccc3b), url(settingsBtnOff.png);
}
.btnOnIcon {
    background-image: url(settingsBtnOn.png);
}
.btnOnIcon:hover {
    background-image: linear-gradient(#cccccc3b, #cccccc3b), url(settingsBtnOn.png);
}
.speedIcon {
    background-image: url(speed.png);
}
.subtitlesIcon {
    background-image: url(subtitles.png);
}
.qualityIcon {
    background-image: url(quality.png);
}
