.closeBtn {
    position: absolute;
    z-index: 1;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 70px;
    width: 25px;
    border: 0px;
    background-color: white;
    padding: 0;
    background-image: url(close.png);
    background-repeat: no-repeat;
    background-size: auto auto;
    background-position: center;
    cursor: pointer;
}

.formStyle {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 40px;
    border: 1px solid #cccccc;
    height: 35px;
    border-radius: 35px;
    width: calc(100% - 90px);
}

.formWithFocusStyle {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 40px;
    border: 1px solid #cccccc;
    height: 35px;
    border-radius: 35px;
    width: calc(100% - 50px);
}

.hide {
    display: none;
}

.inputStyle {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 140px;
    height: 20px;
    width: calc(100% - 180px);
    border: 0px;
    border: 0px solid #2202af;
}

.inputStyle:focus {
    outline: none;
}

.keyboardBtnStyle {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 100px;
    width: 21px;
    border: 0px;
    padding: 0;
    border: 1px dashed rgba(255, 0, 0, 0.507);
    background-image: url(key.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    cursor: pointer;
}

.loupeStyle {
    position: absolute;
    z-index: 1;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 8px;
    border: 1px;
    height: 20px;
    width: 20px;
    background-image: url(loupe.png);
    background-repeat: no-repeat;
    background-size: auto auto;
    background-position: center;
}

.microphoneBtnStyle {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0px;
    min-width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 0px;
    padding: 0;
    border: 1px dashed rgba(255, 0, 0, 0.507);
    background-image: url(microphone.png);
    background-repeat: no-repeat;
    background-size: auto auto;
    background-position: center;
    cursor: pointer;
}

.searchStyle {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    height: max-content;
    width: 100%;
}

.searchBtnStyle {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0px;
    width: 65px;
    height: 35px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    border: 0px solid #cccccc;
    padding: 0px;
    margin: 0px;
    background-color: rgb(248 248 248);
    background-image: url(loupeBtn.png);
    background-repeat: no-repeat;
    background-size: auto auto;
    background-position: center;
    cursor: pointer;
}

.searchBtnStyle:hover {
    background-image: linear-gradient(#cccccc27, #cccccc27), url(loupeBtn.png);
}

.showPrompt {
    width: 100px;
    padding: 10px 5px 10px 5px;
    border: 0px;
    border-radius: 5px;
    position: absolute;
    top: 60px;
    left: -20px;
    z-index: 1;
    background-color: rgb(112, 112, 112);
    color: rgb(241, 241, 241);
    opacity: 0.95;
    font-size: 12px;
    text-align: center;
}