.durationVideo {
    border: 1px solid rgba(59, 84, 194, 0.089);
    font-family: Arial, Helvetica, sans-serif;

    background-color: rgb(29, 29, 29);
    position: absolute;
    width: max-content;
    bottom: 6px;
    right: 3px;
    border-radius: 4px;
    font-size: 14px;
    color: rgb(224, 224, 224);
}