.iconCanal{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 0px;
    padding: 0;
    background-image: url(round.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    cursor: pointer;
    position: relative;
  }