.videoInListInMain {
    width: 100%;
    height: 15vw;
    min-height: 150px;
    object-fit: cover;
}

.videoInListInVideoPage {
    width: 14vw;
    height: 8vw;
    object-fit: cover;
}

.widthScreen {
    border: 5px solid rgb(54, 145, 219);
}