
.blackBackground {
    width: 100%;
    background-color: black;
}

.containerInListInMain {
    width: 380px;
    position: relative;
}

.containerInListInMainFiltred {
    display: flex;
    width: max-content;
    position: relative;
    border: 0px solid rgb(238, 166, 11);
}

.containerInListInVideopage {
    display: flex;
    border: 0px solid rgba(248, 0, 0, 0.555);
    width: 97%;
    margin-bottom: 3px;
    position: relative;
}

.containerForSmallScreen {
    display: inline-block;
    width: 100%;
    position: relative;
    border: 0px solid rgb(238, 11, 189);
    margin-bottom: 20px;
}

.containerForBigScreen {
    width: 100%;
    position: relative;
    border: 0px solid rgb(11, 102, 238);
    margin-bottom: 20px;
}

.containerForFullScreen {
    width: 100%;
    position: relative;
    border: 0px solid rgb(238, 11, 189);
}

.videoInListInMain {
    width: 370px;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
}

.videoInListInMainFiltred {
    width: 350px;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
}

.videoInListInVideoPage {
    width: 13vw;
    min-width: 160px;
    height: 6vw;
    min-height: 90px;
    object-fit: cover;
    border-radius: 10px;
    position: relative;
    border: 0px solid rgb(238, 11, 189);
}

.videoInVideoPageSmallScreen {
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
    border: 0px solid rgb(238, 11, 68);
    aspect-ratio: 21 / 12;
}

.videoInVideoPageBigScreen {
    display: block;
    margin: auto;
    width: min(98vw, 870px);
    aspect-ratio: 21 / 12;
    object-fit: cover;
    border: 0px solid rgb(11, 211, 238);
}

.videoInVideoPageFullScreen {
    position: relative;
    width: 98vw;
    height: 98vh;
    border: 0px solid rgb(11, 238, 132);
    object-fit: cover;
}

.subtitlesClass {
    border: 3px solid rgb(11, 211, 238);

}

