.videoInListInMain {
    width: 28vw;
    height: 16vw;
    min-width: 250px;
    min-height: 150px;
    object-fit: cover;
    border-radius: 1vw;

}

.videoInListInVideoPage {
    width: 12vw;
    height: 8vw;
    min-width: 150px;
    min-height: 90px;
    object-fit: cover;
}

.flex{
    display: flex;
}


.inVideoPageSmallScreen {
width: 60vw;
height: 35vw;
border: 5px solid rgb(11, 238, 30);


}

.inVideoPageLargeScreen {
    width: 95vw;
    height: 45vw;
    border: 5px solid rgb(204, 238, 11);
    }