.centralContainer {
    width: 40%;
    min-width: 320px;
    position: relative;
    border: 0px;
    border: 0px solid red;
}

.entryBtn {
    width: 100px;
    height: 40px;
    border-radius: 36px;
    border: 1px solid #cccccc;
    padding: 0;
    margin-right: 20px;
    background-color: white;
    background-image: url(entry.png);
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: center;
    cursor: pointer;
}

.entryBtn:hover {
    background-image: linear-gradient(#a7d5fa25, #a7d5fa25), url(entry.png);
}

.hide {
    display: none;
}

.logo {
    height: 20px;
    margin-left: 15px;
    cursor: pointer;
}

.leftContainer {
    display: flex;
    align-items: center;
}

.mainContainer {
    display: flex;
    align-items: center;
    justify-content:space-between;
    max-width: 1280px;
    min-width: 520px;
    width: 98vw;
    border: 0px solid red;
    position: relative;
    margin-bottom: 3px;
}

.prompt {
    width: max-content;
    padding: 10px 5px 10px 5px;
    border: 0px;
    border-radius: 5px;
    position: absolute;
    top: 60px;
    left: -20px;
    background-color: rgb(112, 112, 112);
    color: rgb(241, 241, 241);
    opacity: 0.95;
}

.rightContainer {
    display: flex;
    align-items: center;
    border: 1px dashed rgba(255, 0, 0, 0.507);
}

::placeholder {
    color: #919191;
}

.settingsBtn {
    width: 40px;
    height: 40px;
    border: 1px solid rgba(228, 228, 228, 0.151);
    padding: 0;
    background-image: url(settingsBtn.png);
    background-repeat: no-repeat;
    background-size: 170%;
    background-position: center;
    cursor: pointer;
    position: relative;
}

.sideBarBtn {
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 0;
    margin-left: 20px;
    background-image: url(sideBarBtn.png);
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: center;
    cursor: pointer;
    border: 1px dashed rgba(255, 0, 0, 0.507);
}

.sideBarBtn:hover {
    background-image: linear-gradient(#cccccc3b, #cccccc3b), url(sideBarBtn.png);
}