.rowFlexContainer {
    /*     background-color: rgb(136, 196, 144);
     */    max-height:inherit;
        display: flex;
        justify-content: flex-start;
    }
    
.canal {
    display: flex;
    justify-content: flex-start;
    color: #747474;
    font-size: 14px;
}
   

.dot {
    min-width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 0px;
    padding: 0;
    background-image: url(dot.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    cursor: pointer;
    position: relative;
}

.duration {
    background-color: rgb(29, 29, 29);
    position: absolute;
    width: max-content;
    bottom: 2px;
    right: 2px;
    border-radius: 3px;
    font-size: 14px;
    color: rgb(224, 224, 224);
}

/* .leftContainer{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 0px;
    padding: 0;
    background-image: url(round.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    cursor: pointer;
    position: relative;
  } */

/* .metaData {
    display: flex;
    justify-content: flex-start;
    color: #747474;
    font-size: 14px;
}
 */
.name {
    font-size: 16px;
    font-weight: bold;
}

.verify {
    min-width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 0px;
    padding: 0;
    background-image: url(verify.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    cursor: pointer;
    position: relative;
}


