
.canalName {
  display: flex;
  justify-content: flex-start;
  color: #747474;
  font-size: 14px;
}

.miniCaption div {
  font-size: 12px;
  border: 0px solid rgb(238, 11, 227);
}
   
.dot {
  display: inline-block;
  min-width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 0px;
  padding: 0;
  background-image: url(dot.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  cursor: pointer;
  position: relative;
}

.nameStyle {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

.round {
  display: inline-block;
  position: relative;
  top: -20px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 0px solid red;
  padding: 0;
  background-image: url(round.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  cursor: pointer;
}

.rightContainer {
  display: inline-block;
  max-width: 85%;
}

.rowFlexContainer {
  max-height:inherit;
  display: flex;
  justify-content: flex-start;
}

.viewsStyle {
  display: inline-block;
  flex-shrink: 0;
}