.btn  {
    width: 35px;
    height: 30px;
    border: 1px solid rgba(228, 228, 228, 0.144);
    border-radius: 1px;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(73, 72, 72);
    cursor:pointer;
    position: relative;
}

.subtitlesOn {
    background-image: url(subtitles.png);
}
.subtitlesOn:hover {
    background-image: linear-gradient(#cccccc3b, #cccccc3b), url(subtitles.png);
}

.subtitlesOff {
    background-image: url(subtitlesOff.png);
}
.subtitlesOff:hover {
    background-image: linear-gradient(#cccccc3b, #cccccc3b), url(subtitlesOff.png);
}