 .videoCard div {
    margin: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.videoCard {
    max-width: 320px;
    padding: 5px;
}

.video {
    position: relative;
}

.video video {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 15px;
 }

.hidden {
    display: none;
}