

.buttons {
    padding: 0;
    margin-left: 20px;
    object-fit: contain;
    border-radius: 35px;
    border: 1px dashed rgba(255, 0, 0, 0.459);
}

.canalStyle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

.containerForBigScreen {
    display: inline-block;
    width: calc(100% - 400px);
    min-width: 420px;
    background-color: white;
    position: relative;
    border: 0px solid rgb(156, 24, 145);
    vertical-align: top;
}

.containerForSmallScreen {
    width: 100%;
    background-color: white;
    position: relative;
    top: -10px;
    border: 0px solid rgb(156, 24, 127);
}

 .comments {
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    object-fit: cover;
    border-radius: 5px;
    border: 1px dashed rgba(255, 0, 0, 0.459);
}

.description {
    width: 100%;
    border-radius: 5px;
    background-color: rgb(238, 238, 238);
    margin-top: 10px;
    border: 1px dashed rgba(255, 0, 0, 0.459);
}

.inlinelock {
    display: inline-block;
}

.flex {
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
}

.round {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border: 1px solid rgba(228, 228, 228, 0.144);
    border-radius: 20px;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
    cursor:pointer;
    position: relative;
    background-image: url(round.png);
}

.round:hover {
    background-image: linear-gradient(#cccccc3b, #cccccc3b), url(round.png);
}

.nameStyle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight:600;
    text-transform: uppercase;
}

.subscribe {
    padding: 0;
    margin-left: 20px;
    object-fit: contain;
    border-radius: 35px;
    border: 1px dashed rgba(255, 0, 0, 0.5);
}

