.autoplayOff {
    background-image: url(autoplayOff.png);
}
.autoplayOff:hover {
    background-image: linear-gradient(#cccccc3b, #cccccc3b), url(autoplayOff.png);
}

.autoplayOn {
    background-image: url(autoplayOn.png);
}
.autoplayOn:hover {
    background-image: linear-gradient(#cccccc3b, #cccccc3b), url(autoplayOn.png);
}

.controlPan {
    width: 99%;
    min-width: max-content;
    position: relative;
    bottom: 70px;
    border: 0px solid red;
    background-color: rgba(73, 72, 72, 0.2);
    padding: 1px;
}

.controlPan button {
    width: 35px;
    height: 30px;
    border: 1px solid rgba(228, 228, 228, 0.144);
    border-radius: 1px;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(73, 72, 72);
    cursor:pointer;
    position: relative;
}

.hide {
    display: none;
}

.fullScreen {
    background-image: url(fullScreen.png);
}

.fullScreen:hover {
    background-image: linear-gradient(#cccccc3b, #cccccc3b), url(fullScreen.png);
}

.narrowScreen {
    background-image: url(narrowScreen.png);
}
.narrowScreen:hover {
    background-image: linear-gradient(#cccccc3b, #cccccc3b), url(narrowScreen.png);
}

.play {
    background-image: url(play.png);
}
.play:hover {
    background-image: linear-gradient(#cccccc3b, #cccccc3b), url(play.png);
}

.pause {
    background-image: url(pause.png);
}
.pause:hover {
    background-image: linear-gradient(#cccccc3b, #cccccc3b), url(pause.png);
}

.previosBtn {
    background-image: url(previosBtn.png);
}
.previosBtn:hover {
    background-image: linear-gradient(#cccccc3b, #cccccc3b), url(previosBtn.png);
}

.nextBtn {
    background-image: url(nextBtn.png);
}
.nextBtn:hover {
    background-image: linear-gradient(#cccccc3b, #cccccc3b), url(nextBtn.png);
}

.settingsBtnOff {
    background-image: url(settingsBtnOff.png);
}
.settingsBtnOff:hover {
    background-image: linear-gradient(#cccccc3b, #cccccc3b), url(settingsBtnOff.png);
}

.settingsBtnOn {
    background-image: url(settingsBtnOn.png);
}
.settingsBtnOn:hover {
    background-image: linear-gradient(#cccccc3b, #cccccc3b), url(settingsBtnOn.png);
}

.show {
    display: block;
}

.volume {
    width: 50px;
    height: 4px;
    accent-color: rgb(214, 87, 87);
    
}

.wideScreen {
    background-image: url(wideScreen.png);
}
.wideScreen:hover {
    background-image: linear-gradient(#cccccc3b, #cccccc3b), url(wideScreen.png);
}


.flex{
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.leftContainer{
    flex-shrink:0;
    display: flex;
    justify-content: start;
    align-items: center;
}

.leftContainer * {
    margin-right: 3px;
}

.rightContainer{
    display: flex;
    justify-content: end;
    align-items: center;

}

.rightContainer > * {
    margin-right: 3px;

}



