.controlPan {
    width: 99%;
    position: absolute;
    bottom: 10px;
    border: 0px solid red;
    background-color: rgba(73, 72, 72, 0.2);
    padding: 1px;
}

.controlPan button {
    width: 35px;
    height: 30px;
    border: 0px solid rgba(228, 228, 228, 0.144);
    border-radius: 1px;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255, 255, 255, 0);
    cursor:pointer;
    position: relative;
}

.controlPan button:hover  {
    background-color: rgba(228, 228, 228, 0.103);
    border: 0px solid rgb(7, 221, 89);
}

.play {
    background-image: url(play.png);
}

.pause {
    background-image: url(pause.png);
}
 
.flex {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.leftContainer {
    flex-shrink:0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.leftContainer * {
    margin-right: 3px;
}

.rightContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.rightContainer > * {
    margin-right: 3px;
}



