

.flex {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

div {
    border: 0px solid rgb(255, 249, 249);
    padding: 1px;
}

.mainContainer {
    position: relative;
    max-width: 1280px;
    min-width: 520px;
    width: 98vw;
    border: 3px solid rgb(241, 94, 205);

}




