.container {
    display: flex;
    align-items: center;
}

.volumeClass {
    accent-color: rgb(233, 233, 233);
    height: 4px;
    width: 70px;
    border-radius: 0px;
}

.soundOn {
    background-image: url(soundOned.png);
}
.soundOn:hover {
    background-image: linear-gradient(#cccccc3b, #cccccc3b), url(soundOned.png);
}

.soundOff {
    background-image: url(soundOffed.png);
}
.soundOff:hover {
    background-image: linear-gradient(#cccccc3b, #cccccc3b), url(soundOffed.png);
}
